@import url("http://fonts.cdnfonts.com/css/jenriv");

$font-stack: "Jenriv", "Marcellus", "Source Serif Pro", "Droid Serif", serif;

html,
body {
  padding: 0;
  margin: 0;
  font-family: $font-stack;
  font-size: 14pt;
  letter-spacing: -0.01rem;
}

a {
  color: #008fd0;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

code {
  background: #efefef;
  padding: 0.75rem;
  font-size: 1rem;
  font-family: "Fira Code", "Source Code Pro", monospace;
}

.modalOpen {
  overflow: hidden;
  height: 100vh;
}
