@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");

$font-stack: "Marcellus", "Source Serif Pro", "Droid Serif", serif;

html,
body {
  padding: 0;
  margin: 0;
  font-family: $font-stack;
}

a {
  color: #4971be;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

code {
  background: #efefef;
  padding: 0.75rem;
  font-size: 1rem;
  font-family: "Fira Code", "Source Code Pro", monospace;
}
